body {
    background-color: #FAFAFA;
    color: #333;
    font-family: Tahoma, Geneva, Verdana, 'Segoe UI', sans-serif;
}

li { list-style: none; }

li {
    margin: 0;
    padding: 0;
}

button {
    background: #7a8db3;
    border: none;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    height: fit-content;
    padding: 1em;
}

button.blue:hover { background: #0f3496; }